@import  'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
body {
  
  background-color: #FFEBCD;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  margin:5px;
}

input {
  display: block;
  width: 200px;
  margin-bottom: 10px;
}
input.form-control {
  width: 200px;

}

.tags {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 2vw;

}
h1 {
  margin-bottom: 35px;
}
h3 {
  width: 100%;
}
.tag-area {
  width: 100%;
  display: block;
}

.grid-profile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-columns: minmax(200px, auto);
  grid-gap: 2vw;
}
@media screen and (max-width: 800px) {
  .grid-profile {
    display: block;
    margin-top: 40px;

  }
  .input-group {
    margin-top: 40px;
  }
}
.nav-bar {
  width: 100%;
  display: block;
}
.tag-top-table {
margin-left: 60px;
}

.usertag {
  height: 26px;
  border: 1px solid #7FFFD4;
  border-radius: 13px;
  display: inline-block;
  margin:2px;
  padding-left: 10px;
}
.delButton {
  height: 15px;
  width: 15px;
  margin-right: 3px;
}

.input_append {
  width: calc(100% - 40px);
  bottom: 0px;
  margin-left: 5px;
  margin-top: 10px;
  right: 20px;
  border: 1px solid rgba(0, 100, 255, 0.4);
  height: 60px;
  padding: 15px;
  border-radius: 8px;
  z-index: 2;
  float:left;
}
.appendButton {
  float: right;
  width: 25px;
  height: 25px;
  margin-top: 26px;
  margin-right: 5px;
}

.block_input{
  width: 100%;
  height: 30px;
}
.grid-of-dialogs {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.9fr;
  grid-gap: 1vw;
}
@media screen and (max-width: 800px) {
  .grid-of-dialogs {
    display: block;

  }
  .input-group {
    margin-top: 40px;
  }
  .messeges {
    width: 100%;
    float: none;
  }
  .mes {
    display: block;
  }
}
.messeges {
  width: 100%;
}
.mes {
  display: inline-block;
}

.dialogs_block {
  font-size: 120%;
  display: grid;

}
.dialog_button {
  width: 240px;
  padding-left: 30px;
  height: 40px;
}
.new_dialog_button {
  width: 240px;
  height: 40px;
}
.dialog_button:hover {
  font-size: 20px;
  background-color: #C0C0C0;
  padding: 5px;
}
.new_dialog_button:hover {
  font-size: 18px;
  background-color: #C0C0C0;
  padding: 5px;
}
.message {
  display: inline-block;
  height: 26px;
  border-radius: 13px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid #7FFFD4;
  background-color: #7FFFD4;
  margin-left: 10px;
  float: left;
}
.message_rigth {
  display: inline-block;
  height: 26px;
  border-radius: 13px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid #98FB98;
  background-color: #98FB98;
  float: right;

}
.messages_block {
  display: grid;
  border-radius: 20px;

}
.dialog {
  width:100%;
}
.message_string {
  height: auto;
  padding: 10px;
}

.block_new_message {
  float: none;
  width: 100%;
}
.appendDialogButton {
  width: 25px;
  height: 25px;
}
.new_dialog_text {
  margin-top:2px;
}
.counting {
  height: 6px;
  border-radius: 3px;
  background-color: blue;
}


.start_info{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.rateStar {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: -2px;
}
.blockRateStar {
  margin-top: -15px;
}
.blockPublicTags {
  margin-top: 15px;
}


.hide {
  display: none;
}
